<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>df692c8d2e3c97bdd87afc89d30c0da8</string>
	<key>privateKey</key>
	<string>891e19ae8efa1db2f5a85c7f7abb8626db4f34f0</string>
</dict>
</plist>
